/******************************************************************
	
	
	@ Item          Gravity // Coming Soon - Under Construction
	@ Version       3.6
	@ Author		Avanzare
	@ Website		http://themeforest.net/user/avanzare 
	

 ******************************************************************/


/******************************************************************


   ------------------------
   -- TABLE OF CONTENTS --
   ------------------------

   --  1. Typography
   --  2. Loading
   --  3. Content
   --  4. Overlay
   --  5. Overlay-Content-About
   --  6. Overlay-Content-Contact
   --  7. Overlay Skins
   --  8. Media Queries


******************************************************************/


/** 1. TYPOGRAPHY
*******************************************************************/


/** 2. LOADING
*****************************************************************/


/** 3. CONTENT
*****************************************************************/


/** 4. OVERLAY
*****************************************************************/

.overlay {
  background: rgba(0, 0, 0, .8);
}

/** 6. OVERLAY-CONTENT-CONTACT
*****************************************************************/


/** 7. OVERLAY SKINS
*****************************************************************/
/** 8. MEDIA QUERIES
*****************************************************************/

@media screen and (max-width: 1400px), screen and (max-height: 720px) {
  .tooltip.bottom .tooltip-inner {
    font-size: 10px;
  }

  .up-button {
    width: 60px;
  }

  .up-button.active {
    height: 60px;
  }

  .up-button i {
    font-size: 14px;
    line-height: 60px;
  }

  #overlay .container-mid .container {
    padding: 40px 40px;
  }

  #about h1 {
    font-size: 31px;

    margin-bottom: 20px;

    letter-spacing: 1px;
  }

  #about p {
    font-size: 10px;

    max-width: 460px;
    margin: 0 auto 28px auto;
  }

  .subscribe-form {
    max-width: 390px;
    margin: 0 auto 27px auto;
  }

  .input-group-lg > .form-control,
  .input-group-lg > .input-group-addon,
  .input-group-lg > .input-group-btn > .btn {
    height: 37px;
  }

  #about .social-icons li {
    display: inline-block;

    margin: 0 10px;
  }

  #about .social-icons li a {
    font-size: 9px;
    line-height: 30px;

    width: 31px;
    height: 31px;
  }

  .subscribe-form button {
    font-size: 9px !important;

    padding: 0 34px !important;
  }

  .subscribe-form input {
    font-size: 9px !important;
  }

  #contact h1 {
    font-size: 31px;

    margin-bottom: 16px;
  }

  #contact p {
    font-size: 10px;

    max-width: 280px;
    margin-bottom: 0;
    padding: 0 20px;
  }

  #contact-form {
    margin-top: 14px;
  }

  #contact-form .control-group {
    max-width: 280px;
  }

  #contact-form label {
    font-size: 12px;

    margin-bottom: 8px;
  }

  #contact-form input,
  #contact-form textarea {
    font-size: 9px;

    height: 40px;
    margin-bottom: 14px;
  }

  #contact-form textarea {
    height: 90px;
  }

  #contact-form button {
    font-size: 9px;
    line-height: 40px;

    width: 104px;
    height: 40px;
    margin: 24px auto 0 auto;
  }
}

@media screen and (max-width: 420px), screen and (max-height: 720px) {
  .spinner {
    width: 100px;
  }

  .tooltip.bottom .tooltip-inner {
    font-size: 8px;
  }

  #overlay .container-mid .container {
    padding: 55px 40px;
  }

  .up-button {
    width: 50px;
  }

  .up-button.active {
    height: 50px;
  }

  .up-button i {
    font-size: 11px;
    line-height: 50px;
  }

  #about h1 {
    font-size: 30px;
  }

  .subscribe-form input {
    font-size: 7px !important;
  }

  #about .social-icons li {
    margin: 0 14px;
  }

  #contact h1 {
    font-size: 30px;

    margin-bottom: 16px;
  }

  #contact p {
    font-size: 10px;

    max-width: 280px;
    margin-bottom: 0;
    padding: 0 20px;
  }

  #contact-form {
    margin-top: 14px;
  }

  #contact-form .control-group {
    max-width: 280px;
  }

  #contact-form label {
    font-size: 12px;

    margin-bottom: 8px;
  }

  #contact-form input,
  #contact-form textarea {
    font-size: 9px;

    height: 40px;
    margin-bottom: 14px;
  }

  #contact-form textarea {
    height: 90px;
  }

  #contact-form button {
    font-size: 9px;
    line-height: 40px;

    width: 104px;
    height: 40px;
    margin: 24px auto 0 auto;
  }
}

@media screen and (max-width: 329px) {
  #about .social-icons li {
    margin: 0 10px;
  }

  .input-group-lg > .form-control,
  .input-group-lg > .input-group-addon,
  .input-group-lg > .input-group-btn > .btn {
    padding: 10px 12px;
  }
}

@media screen and (max-width: 318px) {
  #about .social-icons li {
    margin: 0 8px;
  }

  .subscribe-form .input-group {
    display: block;
  }

  .subscribe-form input {
    display: block;

    text-align: center;

    border-right: 1px solid #d6d6d6 !important;
  }
}

@media screen and (min-width: 3000px) {
  .stop-button,
  .volume-button {
    font-size: 32px;

    position: fixed;
    z-index: 101;
    bottom: 40px;

    cursor: pointer;

    color: #fff;
  }

  .stop-button {
    left: 110px;
  }

  .volume-button {
    left: 40px;
  }

  .spinner {
    width: 240px;
  }

  .up-button {
    width: 100px;
  }

  .up-button.active {
    height: 100px;
  }

  .up-button i {
    font-size: 20px;
    line-height: 100px;
  }

  #overlay .container-mid .container {
    padding: 120px 40px;
  }

  #about h1 {
    font-size: 51px;

    margin-bottom: 40px;

    letter-spacing: 3px;
  }

  #about p {
    font-size: 17px;

    max-width: 790px;
    margin: 0 auto 50px auto;
  }

  .subscribe-form {
    max-width: 630px;
    margin: 0 auto 44px auto;
  }

  .input-group-lg > .form-control,
  .input-group-lg > .input-group-addon,
  .input-group-lg > .input-group-btn > .btn {
    height: 56px;
  }

  #about .social-icons li {
    display: inline-block;

    margin: 0 20px;
  }

  #about .social-icons li a {
    font-size: 14px;
    line-height: 46px;

    width: 46px;
    height: 46px;
  }

  .subscribe-form button {
    font-size: 13px !important;

    padding: 0 50px !important;
  }

  .subscribe-form input {
    font-size: 13px !important;
  }

  #contact h1 {
    font-size: 51px;

    margin-bottom: 38px;
  }

  #contact p {
    font-size: 17px;

    max-width: 450px;
    margin-bottom: 0;
    padding: 0 20px;
  }

  #contact-form {
    margin-top: 40px;
  }

  #contact-form .control-group {
    max-width: 470px;
  }

  #contact-form label {
    font-size: 18px;

    margin-bottom: 14px;
  }

  #contact-form input,
  #contact-form textarea {
    font-size: 13px;

    height: 64px;
    margin-bottom: 35px;
    padding: 12px 12px;
  }

  #contact-form textarea {
    height: 180px;
  }

  #contact-form button {
    font-size: 15px;
    line-height: 64px;

    width: 190px;
    height: 64px;
    margin: 50px auto 0 auto;
  }
}
