.button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0;
  border: none;
  overflow: hidden;
  transition: all 0.4s ease;
  padding: 0;
  font: inherit;
  max-width: 132px;
  width: 100%;
  height: 46px;
  outline: none;
}

.button--outline {
  color: inherit;
  background-color: transparent;
  border: 4px solid $color-base;
}

.button--solid {
  color: #000;
  background-color: $color-base;
  border: 1px solid $color-base;

  &::before {
    display: block;
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: unset;
    width: 100%;
    height: 100%;
    transition: all 0.2s ease;
    background-color: $color-base;
  }

  &:hover, &:focus, &:active {
    box-shadow: none;
  }

  &:focus, &:active {
    background-color: $color-base;
  }

  &:hover {
    background-color: transparent;

    &::before {
      right: 0;
      left: unset;
      width: 0;
    }
  }
}

.button--rec {
  width: 68px;
  height: 68px;
  max-width: unset;
}


