.fhp-input {
  display: none !important;
  opacity: 0 !important;
  pointer-events: none !important;
}

.form {
  width: 100%;
  max-width: 500px;
  margin-right: auto;
  margin-left: auto;
  text-align: left;

  &__group {
    width: 100%;
    margin-bottom: $gap-lg;

    &__label {
      display: inline-block;
      margin-left: $gap-sm;
    }

    &__control {
      display: block;
      font-size: inherit;
      line-height: inherit;
      font-weight: inherit;
      width: 100%;
      height: 42px;
      padding-left: $gap-sm;
      color: $color-base;
      border: 1px solid $color-base-dense;
      border-radius: 0;
      outline: none;
      background: rgba(255, 255, 255, 0);
      box-shadow: none;
      transition: all 0.4s $ease-in-out;

      &:focus, &:active {
        border: 1px solid $color-base;
        outline: none;
        background: rgba(#fff, 0.01);
      }


      &::-webkit-input-placeholder, ::-moz-placeholder {
        color: $color-base-dense;
      }


      &--error {
        border: 1px solid $color-error;
      }

      &[disabled] {
        opacity: 0.5;
      }

    }

    &__submit {

      i {
        position: absolute;
        top: 50%;
        left: -200%;
        color: $color-base;
        width: 100%;
        transition: none;
        transform: translateY(-50%);
        text-align: center;

        &:nth-child(1) {
          left: 0;
          color: inherit;
        }

      }

      &:focus, &:active {
        background-color: $color-base;
      }

      &:hover:not([disabled]) {
        background: rgba(255, 255, 255, .00);

        i {
          transition: all .2s ease 0s;

          &:nth-child(1) {
            left: -200%;
          }

          &:nth-child(2) {
            left: 0;
          }

        }
      }
    }
  }

  &__alert {
    border: 1px solid;
    padding: $gap-md;

    &__title {
      display: flex;

      &__icon {
        display: block;
        font-size: $font-size-lg;
        padding-right: $gap-md;
      }

    }

    ul {
      list-style-type: circle;
      padding-left: $gap-lg;
    }
  }


  &--active #form-loader {
    opacity: 1;
    visibility: visible;
  }

}

textarea.form__group__control {
  height: $gap-xxl;
  padding-top: $gap-sm;
  resize: none !important;
}

.form--error {
  .form__group__submit {
    border-color: $color-error;
    background-color: $color-error;

    i {
      color: $color-base !important;
    }

    &:before {
      background-color: $color-error !important;
    }

    &:focus, &:active {
      background: $color-error;
    }

  }

  .form__alert {
    border-color: $color-error;
    background-color: rgba($color-error, 0.125);

    &__title__icon {
      color: $color-error;
    }
  }

}

.form--success {
  .form__group__submit {
    border-color: $color-success;
    background-color: $color-success;

    &:before {
      background: $color-success !important;
    }

    &:focus, &:active {
      background: $color-success;
    }

    i {
      left: -200% !important;

      &:nth-child(3) {
        left: 0 !important;
        color: $color-base !important;
      }

    }

  }

  .form__alert {
    border-color: $color-success;
    background-color: rgba($color-success, 0.125);

    &__title__icon {
      color: $color-success;
    }
  }
}
