.fhp-input {
  display: none !important;
  opacity: 0 !important;
  pointer-events: none !important;
}

.form {
  width: 100%;
  max-width: 500px;
  margin-right: auto;
  margin-left: auto;
  text-align: left;

  &__group {
    width: 100%;
    margin-bottom: $gap-lg;

    &__label {
      display: inline-block;
      margin-left: $gap-sm;
      text-transform: uppercase;
      font-size: $font-size-sm;
      line-height: $line-height-base;
    }

    &__control {
      display: block;
      font-size: inherit;
      line-height: inherit;
      font-weight: inherit;
      width: 100%;
      height: 42px;
      padding-left: $gap-sm;
      transition: all 0.2s $ease-in-out;
      color: $color-base;
      border: 1px solid $color-base-dense;
      border-radius: 0;
      outline: none;
      background: rgba(255, 255, 255, 0);
      box-shadow: none;

      &:focus, &:active {
        border: 1px solid $color-base;
        outline: none;
        background: rgba(255, 255, 255, .025);
      }


      &::-webkit-input-placeholder, ::-moz-placeholder {
        color: $color-base-dense;
      }

      &[type="submit"] {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        overflow: hidden;
        width: 144px;
        height: 42px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        color: #000;
        border: 1px solid #d6d6d6;
        border-radius: 0;
        background: rgba(255, 255, 255, 1);


        i {
          position: absolute;
          top: 50%;
          left: 0;

          width: 100%;
          height: auto;

          -webkit-transition: none;
          transition: none;
          -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
          text-align: center;

          &.first {
            left: 200%;
            color: #fff;
          }

          &.second {
            left: 0;

            &:before {
              content: '\e64c';
              color: #fff;
            }
          }

        }

        &::before {
          display: block;
          content: '';
          position: absolute;
          z-index: -1;
          top: 0;
          right: auto;
          left: 0;
          width: 100%;
          height: 100%;
          transition: all .2s ease;
          background: rgba(255, 255, 255, 1);
        }

        &[disabled] {
          opacity: 1;
          color: #fff;
          border: 1px solid #fff;
          outline: none;
          background: rgba(255, 255, 255, 1);
        }

        &:hover, &:focus, &:active {
          color: #000;
          border-color: #d6d6d6;
          outline: none !important;
          background: rgba(255, 255, 255, .00);
          box-shadow: none;

        }

        &:focus, &:active {
          background: rgba(255, 255, 255, 1);
        }

        &:hover {
          background: rgba(255, 255, 255, .00) !important;

          i {
            transition: all .2s ease 0s;

            &.first {
              left: 0;
            }

            &.second {
              left: -200%;
            }

          }

          &::before {
            right: 0;
            left: auto;

            width: 0;
          }
        }

      }
    }
  }


}

textarea.form__group__control {
  height: $gap-xl;
  padding-top: $gap-sm;
  resize: none !important;
}


.form.error input.active,
.form.error textarea.active {
  border-color: rgba(251, 9, 9, 1) !important;
}

.form.success input,
.form.success textarea {
  background: rgba(255, 255, 255, 0) !important;
}


.form.success button {
  border-color: rgba(95, 234, 110, 1) !important;
  background: rgba(95, 234, 110, 1) !important;
}


.form.error button {
  border-color: rgba(251, 9, 9, 1) !important;
  background: rgba(251, 9, 9, 1) !important;
}


.form.error button:hover,
.form.error button:focus,
.form.error button:active {
  border-color: rgba(251, 9, 9, 1);
}

.form.error button:focus {
  background: rgba(251, 9, 9, 1);
}

.form.success button:hover,
.form.success button:focus,
.form.success button:active {
  border-color: rgba(95, 234, 110, 1);
}

.form.success button:hover,
.form.success button:focus {
  background: rgba(95, 234, 110, 1) !important;
}

.form.success button::before {
  background: rgba(95, 234, 110, 1) !important;
}

.form.error button::before {
  background: rgba(251, 9, 9, 1) !important;
}

.form.success button::before {
  background: rgba(255, 255, 255, 1);
}

.form.success button:hover::before {
  right: 0;
  left: 0;

  width: 100%;
}
