/** HERO
*******************************************************************/
.hero {
  position: relative;
  z-index: 1;

  overflow: hidden;

  width: 100%;
  min-height: 100vh;

  &__inner {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;

    &__logo {
      max-width: 200px;
      margin-left: auto;
      margin-right: auto;
    }

    &__title {
      width: 100%;

      span {
        color: $color-primary;
      }
    }

    &__button {

      i {
        position: absolute;

        left: 50%;

        transform: translate(-50%, -50%);
        transition: none;
        text-align: center;

        color: $color-base;

        &:first-child {
          top: 50%;
          transform: translate(-50%, -50%);
        }

        &:last-child {
          top: -200%;
          transform: translate(-50%, 0);
        }

      }

      &:hover {
        color: $color-primary !important;

        i {
          transition: all 150ms cubic-bezier(1, 0, 0, 1);

          &:first-child {
            top: 200%;
            transform: translate(-50%, 0);
          }

          &:last-child {
            top: 50%;
            transform: translate(-50%, -50%);
          }
        }
      }
    }
  }
}


/** DOWN BUTTON
*******************************************************************/

/** PAGE ENTER ANIMATIONS
*******************************************************************/
.hero.js-page-enter-animated {
  .hero__inner__logo {
    transform: translateY(-100%) !important;
    opacity: 0 !important;
  }

  .hero__inner__title {
    transform: translateY(100%) !important;
    opacity: 0 !important;
  }

  .hero__inner__button {
    transform: translateY(100%);
    opacity: 0;
  }

  &.show {
    .hero__inner__logo {
      transition: 1s;
      transform: translateY(0) !important;
      opacity: 1 !important;
    }

    .hero__inner__title {
      transition: 1s .5s;
      transform: translateY(0) !important;
      opacity: 1 !important;
    }

    .hero__inner__button {
      transition: 1s 1s;
      transform: translateY(0);
      opacity: 1;
    }
  }
}

.home-headline {
  font-weight: 400;
  letter-spacing: 0.3px;
  margin-bottom: 0;
  white-space: nowrap;
}

.home-headline .single-headline {
  position: relative;
  text-align: left;
  vertical-align: top;
}

.home-headline .single-headline::after {
  background-color: #b9b9b9;
  content: '';
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 2px;
}

.home-headline .single-headline b {
  display: inline-block;
  font-weight: 400;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.home-headline .single-headline b.is-visible {
  opacity: 1;
  position: relative;
}
