h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
  color: $color-base;
  margin: 0;
}

h1, .text-h1 {
  font-size: $h1-font-size;
}

h2, .text-h2 {
  font-size: $h2-font-size;
}

h3, .text-h3 {
  font-size: $h3-font-size;
}

h4, .text-h4 {
  font-size: $h4-font-size;
}

h5, .text-h5 {
  font-size: $h5-font-size;
}

h6, .text-h6 {
  font-size: $h6-font-size;
}

.text-subtitle {
  font-size: $font-size-base;
  line-height: $line-height-sm;
  font-weight: $font-weight-light;
  display: block;
  margin-top: 20px;
  margin-bottom: 10px;
}

p, .text-p {
  text-align: justify;
  font-size: $font-size-base;
  line-height: 1.8;
  color: $color-base-dense;
}

strong, .text-strong {
  text-transform: uppercase;
  font-size: $font-size-xs;
  line-height: $line-height-sm;
  font-weight: $font-weight-heavy;
  letter-spacing: 5px;
}

a, text-a {
  color: $color-base-dense;
  text-decoration: none;
  transition: all 300ms ease;

  &:hover, &:focus {
    color: $color-base;
  }
}


ul {
  list-style-type: none;
  padding: 0;
}
