.portfolio__card {
  display: block;
  color: $color-base;

  img {
    object-fit: cover;
  }

  &__desc,
  &__img {
    transition: transform 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  }

  &__desc h3 {
    transition: color 0.4s cubic-bezier(0.165, 0.84, 0.44, 1)
  }


  &:hover {
    .portfolio__card__img {
      transform: scale(0.975);
    }

    .portfolio__card__desc {
      transform: translateX($gap-md);

      h3 {
        color: $color-primary;
      }
    }
  }
}
