.container {
  width: 100%;
  padding-right: $container-gutter-x;
  padding-left: $container-gutter-x;
  margin-right: auto;
  margin-left: auto;
}


@media (min-width: $screen-sm) {
  .container {
    max-width: $container-max-width-sm;
  }
}

@media (min-width: $screen-md) {
  .container {
    max-width: $container-max-width-md;
  }
}

@media (min-width: $screen-lg) {
  .container {
    max-width: $container-max-width-lg;
  }
}

@media (min-width: $screen-xl) {
  .container {
    max-width: $container-max-width-xl;
  }
}

@media (min-width: $screen-xxl) {
  .container {
    max-width: $container-max-width-xxl;
  }
}


.container-fluid {
  width: 100%;
  padding-right: $container-gutter-x;
  padding-left: $container-gutter-x;
  margin-right: auto;
  margin-left: auto;
}
